# dependencies
node_modules

serviceAccountKey.json
plugins/firebase-client-init.js
plugins/firebase-client-init.js
server/api/bezbuslouarts-firebase-adminsdk-u4ya1-a576d8a80a.json
server/bezbuslouarts-firebase-adminsdk-u4ya1-a576d8a80a.json


# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Backpack build
build
